body{
  margin: 0;
  padding: 0;
}

#main{
  background-color: #f2f2f2;
  padding-bottom: 30px;

  border-top: 1px solid #c4c4c4;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#publish_title{
  width: 100%;
  text-align: center;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 40px;
  font-weight: normal;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #595959;

}

.category{
  color: #269900;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 25px;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
}


#step1{
  padding-left: 7%;
  width: 77%;

}
#step2{
  padding-left: 10%;
  width: 70%;
}
#step3{
  padding-left: 10%;
  width: 68%;
}
#step4{
  width: 90%;
}

.steps{
  width: 100%;
  clear: both;
  margin-bottom: 70px;
}

.step_pic{
  padding-top: 1%;
  padding-left: 15%;
  width: 15%;
  height: 100%;
  min-width: 100px;
  float: left;
  display: inline-block;
}

.step_body{
  margin-left: 10%;
  width: 60%;
  height: 100%;
  display: inline-block;
}

.input_wrapper{
  max-width: 900px;
  width: 100%;
  margin-top: 0;
  padding-top: 0;
  margin-left: auto;
  margin-right: auto;
}

.input_frame {
  background-color: white;
  border: 1px solid #c4c4c4;
  width: 60%;
  max-height: 400px;
  padding-left: 0px;
}

.input_body {
  background-color: white;
  border: 1px solid #c4c4c4;
  width: 60%;
  height: 50px;
}

.input_icon {
  padding: 0;
  margin: 2%;
  width: 7%;
  height: 33px;
  display: inline-block;
}

.input_textfield {
  float: right;
  padding: 0;
  padding-left: 5%;
  margin: 0;
  border: none;
  display: inline-block;
  width: 83%;
  height: 50px;
  position: relative;
  font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 15px;
}

.input_label {
  margin-top: 20px;
  margin-bottom: 0;
  padding-bottom: 8px;
  font-weight: bold;
/*  font-family: Arial,sans-serif;*/
  font-style: italic;
  color: #474747;
}

.input_submit {
  margin: 8px;
  border: none;
  width: 120px;
  height: 40px;
  background-color: #abcdef;
  color: white;
  border-radius: 5%;
}

.input_checkbox{
  padding: 5px;
  width: 12%;
  margin: 10px;
  font-family: Helvetica;
}

label{
/*  font-family: Helvetica;
  font-style: italic;*/
}

#button{
  width: 120px;
  height: 40px;
  font-size: 20px;
  font-family: Verdana, Geneva, sans-serif;
  background-color: #269900;
  border:hidden;
  color: white;
  margin-top: 50px;
  margin-left: 20%;

  -webkit-transition: color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out;
  -o-transition: color 0.2s ease-out;
  -ms-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
  -webkit-transition: background-color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out;
  -ms-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}

#button:hover{
  color: #269900;
  background-color: white;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 6px 16px 20px 0 rgba(0, 0, 0, 0.19);
}

#foot{
  text-align: center;
  font-size: 15px;
  padding-top: 3px;
  margin: 0;
}


/***************select css***************/
.select {
  font-family: Helvetica;
  font-size: 15px;
  position: relative;
  width: 60%;
  height: 50px;
  border: 1px solid #c4c4c4;
  margin-top: 10px;
}

.select .arr {
  background: #fff;
  bottom: 5px;
  position: absolute;
  right: 5px;
  top: 5px;
  width: 50px;
  pointer-events: none;
}

.select .arr:before {
  content: '';
  position: absolute;
  top: 50%;
  right: 24px;
  margin-top: -5px;
  pointer-events: none;
  border-top: 10px solid #269900;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.select .arr:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 28px;
  margin-top: -5px;
  pointer-events: none;
  border-top: 6px solid #fff;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
}

.select select {
  outline: none;
  -webkit-appearance: none;
  display: block;
  margin: 0;
  padding: 0;
  padding-left: 20px;

  transition: border-color 0.2s;
  border: 1px solid #269900;
  border-radius: 0;
  border: hidden;

  background: #fff;
  color: #474747;
  line-height: normal;
  font-family: inherit;
  font-size: inherit;
  line-height: 50px;
  width: 100%;
}

/***************header css***************/
#header {
  height: 65px;
}

h1{
  font-family: Impact, Charcoal, sans-serif;
  margin: 0;
  margin-top: 10px;
  padding: 0;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 40px;
  float: left;
}

#scu{
  margin-left: 20px;
  color: black;
}

#carpool{
  background-color: #269900;
  color: white;
  border-radius: 7px;
}

#driver{
  float: right;
  text-decoration: none;
  font-family: Helvetica;
  color: #595959;
  font-size: 17px;
  border: 2px solid #a6a6a6;
  border-radius: 2px;
  padding: 5px;
  margin-top: 20px;
  margin-right: 2%;
}

#msg{
  float: right;
  width: 30px;
  margin-top: 25px;
  margin-right: 2%;
}

#pic{
  float: right;
  width: 25px;
  margin-top: 25px;
  margin-right: 2%;

}

#slideProfile {
  padding-right: 5%;
  display: none;
  position: relative;
  float: right;
  width: 20%;
  height: 200%;
  display: none;
  /*margin-left: :10%;*/
  margin-right: 5%;
  margin-top: 2%;
  padding: 10px;
  background-color: #f2f2f2;
  border: solid 1px #c3c3c3;
}

.headShot_profile{
	width: 80px;
	height: 80px;
	border-radius: 30px;
  float: left;
}
#star {
  width: 30%;
  height: 30px;
}
